body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(205, 240, 245);
}
h1{
    font-size: 36px;
    color:rgb(18, 17, 17);
    margin-top: 0;
}
p{
    font-size: 20px;
    line-height: 1.5;
    color:rgb(71, 11, 128);
}
.container{
    width: 80%;
    /*height: 50%;*/
    margin: 0 auto;
    background-color: rgb(90, 221, 250);
    flex-direction: column;
    display: flex;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px){
    h1{
        font-size: 22px;
    }
    p{
        font-size: 16px;
    }
    .container{
        width: 90%;
        padding: 10px;
    }
}