.calculadora{
    position: fixed;
    top: 50%;
    left:50%;
    background-color: rgb(92, 234, 210);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-image: linear-gradient(rgb(25, 227, 224), rgb(117, 27, 137));
    border: 1px solid #aa32de;
    border-radius: 6px;
    padding: 20px;
}/*Fechamento calculadora*/

.tela{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3rem;
    width: 90%;
    height: 70px;
    margin-bottom: 20px;
    border: 3px solid #5390a1;
    padding: 10px;
    border-radius: 6px;
    background-color: #aedbe4;
}/*Fechamento tela*/

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;

}/*Fechamento botao*/

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

}/*Fechamento linha*/

.operadores{
    background-color: #86089f;
    color: #ced0d0;
    border: 1px solid #ced0d0;

}/*Fechamento operadores*/

.outros{
    background-color: #087e9f;
    color: #ced0d0;
    border: 1px solid #ced0d0;
}/*Fechamento outros*/

.cancelar{
    background-color: #e21377;
    color: #ccdada;
    border: 1px solid #ccdada;
}/*Fechamento cancelar*/

button{
    font-size: 2rem;
    width: 50px;
    height: 50px;
    margin-right: 10;
    border: 1px solid #bec4c4;
    border-radius: 6px;
    background-color: #e0e6e6;
    cursor: pointer;
}

button:last-child{
    margin-right: 0;
}

button:hover{
    background-color: #aedbe4;
    color: #aa32de;
}